.nyarukodiv img {
    width: 100%;
    height: 100%;
}
.nyarukodiv {
    position: fixed;
    overflow: hidden;
    user-select: none;
}
#nyarukoplayer_def {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#nyarukoplayer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:#7093DB url("bg.jpg") no-repeat left top;
    background-size: 100% 100%;
}
#nyarukoplayer_audiodiv {
    position: fixed;
    background-size: cover;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    animation: none;
    cursor: url('../resources/hand.cur'), auto;
    z-index: 2;
}
#nyarukoplayer_lrc {
    text-align: center;
    font-size: 20px;
    color: #FFF;
    text-shadow: 0px 0px 5px #000;
    cursor: url('../resources/hand.cur'), auto;
}
@keyframes change {
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
#nyarukoplayer_loading {
    position: fixed;
    width: 100%;
    height: 15px;
    top: 0px;
    background-color: #000;
    background: linear-gradient(#888888, #000);
    z-index: 4;
}
#nyarukoplayer_loadingok {
    position: fixed;
    width: 0%;
    height: 15px;
    background-color: #FE99CC;
    background: linear-gradient(#FE99CC, #C46997, #FE99CC);
    text-align: right;
    font-size: 9pt;
}
#nyarukoplayer_musicdiglog {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    text-align: center;
}
#nyarukoplayer_musicdiglog h1 {
    font-size: 18pt;
}
#nyarukoplayer_musicdiglog a {
    width: 100px;
    text-align: center;
    background-color: transparent;
    color: #00FFFF;
    padding: 5px 100px 5px 100px;
    cursor: url('../resources/hand.cur'), auto;
}
#nyarukoplayer_musicdiglog #nyarukoplayer_musicdiglog_yes {
    color: #FFFF00;
}
#nyarukoplayer_musicdiglog a:hover {
    background-color: #000;
}